footer {
    background-color: #222222;
    color: #999999;

    a {
        color: $red;

        img {
            width: 100%;
        }
    }

    .item-gallery-footer {
        display: block;
        position: relative;
        width: calc((100% - 50px) / 4);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    h4 {
        color: $white;
    }

    .footer_end {
        background-color: black;

        a {
            color: $white;
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 15px;
        }
    }
}