// header {
//   background-color: $white;
//   position: fixed;
//   z-index: 999;
//   right: 0;
//   left: 0;
//   top: 0;
// }


header {
  position: relative;
}

.fix_head {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 999;
  border-top: 5px solid #ec1d25;
  position: fixed;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.container {
  .logo {
    height: 50px;


    img {
      width: auto;
      max-height: 100%;
      display: block;

    }
  }

  .menu_nav .menu_list li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;


    a {
      font-size: 14px;
      font-weight: 400;
      color: $boldblack;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #ec1d25;
      }
    }

  }

  .social_link {

    a {
      font-size: 17px;
      color: $boldblack;
      font-weight: 400;
      line-height: 1.7;
      transition: 0.3s linear;
      &:hover{
        color: #ec1d25;
        font-size: 15px;

      }

    }

    button {
      border: none;
      outline: none;
     
    }

    .menu_btn {
      width: 26px;
      height: 15px;
      border-top: 2px solid $boldblack;
      border-bottom: 2px solid $boldblack;
      background: transparent;
      margin-left: 33px;
      transition: 0.3s linear;
      &:hover{
        border-top: 2px solid #ec1d25;
        border-bottom: 2px solid #ec1d25;
      }
    }


  }

}

.max{
  max-width: 1200px;
  height: 100px;
}


@media only screen and (max-width: 993px) {
  .menu_nav{
    display: none;
  }

  .res_col-9{
  justify-content: end !important;
    width: 20%;
  }
}

@media only screen and (max-width: 576px) {
  .res_col-9{
    width: 50%;
    .social_link{
      .menu_btn{
        margin: 0 5px;
      }
    }
  }
  .res_col-3{
    width: 50%;
  }
}