@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
}

@font-face {
  font-family: "Poppins_regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Courgette";
  src: url("/assets/fonts/Courgette-Regular.ttf");
}
.exa, #paralax .content_paralax .blog1_text a, #paralax .content_paralax .blog1_img a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #222222;
  margin: 0px;
}

.exp, #paralax .content_paralax .blog1_text p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 17px;
  line-height: 2;
  color: #666666;
  margin: 0px;
}

header {
  position: relative;
}

.fix_head {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 999;
  border-top: 5px solid #ec1d25;
  position: fixed;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container .logo {
  height: 50px;
}
.container .logo img {
  width: auto;
  max-height: 100%;
  display: block;
}
.container .menu_nav .menu_list li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.container .menu_nav .menu_list li a {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  transition: 0.3s ease-in-out;
}
.container .menu_nav .menu_list li a:hover {
  color: #ec1d25;
}
.container .social_link a {
  font-size: 17px;
  color: #222222;
  font-weight: 400;
  line-height: 1.7;
  transition: 0.3s linear;
}
.container .social_link a:hover {
  color: #ec1d25;
  font-size: 15px;
}
.container .social_link button {
  border: none;
  outline: none;
}
.container .social_link .menu_btn {
  width: 26px;
  height: 15px;
  border-top: 2px solid #222222;
  border-bottom: 2px solid #222222;
  background: transparent;
  margin-left: 33px;
  transition: 0.3s linear;
}
.container .social_link .menu_btn:hover {
  border-top: 2px solid #ec1d25;
  border-bottom: 2px solid #ec1d25;
}

.max {
  max-width: 1200px;
  height: 100px;
}

@media only screen and (max-width: 993px) {
  .menu_nav {
    display: none;
  }
  .res_col-9 {
    justify-content: end !important;
    width: 20%;
  }
}
@media only screen and (max-width: 576px) {
  .res_col-9 {
    width: 50%;
  }
  .res_col-9 .social_link .menu_btn {
    margin: 0 5px;
  }
  .res_col-3 {
    width: 50%;
  }
}
/* section slider */
#slider {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.slider_content {
  position: absolute;
  top: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.slider_content .enter {
  font-family: "Courgette";
  font-size: 60px;
  line-height: 1.1;
  color: white;
}
.slider_content h2 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 90px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 10px;
}
.slider_content .button a {
  padding: 12px 30px;
  background: white;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #ec1d25;
  text-transform: uppercase;
  transition: 0.3s linear;
}
.slider_content .button a:hover {
  background-color: #ec1d25;
  color: white;
}

.circles {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 0;
}
.circles button {
  display: block;
  color: transparent;
  background-color: #958e88;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px;
  transition: 0.3s ease-in;
}
.circles button:hover {
  background-color: #ec1d25;
  width: 16px;
  height: 16px;
  border: 3px solid white;
}

/* section itali */
.text .text_itali {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.text h3 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.text p {
  max-width: 513px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
.text a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#italian {
  padding-top: 120px;
  padding-bottom: 100px;
  background-image: url("/assets/media/img/pattern1.png.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#italian .img {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  max-width: 390px;
}
#italian .img img {
  width: 100%;
  transition: all 0.6s;
}
#italian .img img:hover {
  transform: scale(1.1, 1.1);
}

/* Section paralax*/
#paralax .paralax_image {
  background-image: url("/assets/media/img/bg-intro-01.jpg (1).webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 158px;
  padding-top: 135px;
}
#paralax .paralax_image span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
#paralax .paralax_image h3 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}
#paralax .content_paralax {
  padding-bottom: 133px;
  padding-top: 77px;
}
#paralax .content_paralax .blog1_img {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}
#paralax .content_paralax .blog1_img a img {
  width: 100%;
  transition: all 0.6s;
}
#paralax .content_paralax .blog1_img a img:hover {
  transform: scale(1.1, 1.1);
}
#paralax .content_paralax .blog1_text {
  padding-top: 35px;
}
#paralax .content_paralax .blog1_text a h4 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#paralax .content_paralax .blog1_text .blog_btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*   Section homemenu    */
#home_menu {
  background-image: url("/assets/media/img/hanstone-aurora-snow.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
  padding-top: 115px;
}
#home_menu .menu_title {
  text-align: center;
}
#home_menu .menu_title span {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
#home_menu .menu_title h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}
#home_menu img {
  width: 100%;
  border-radius: 10px;
}
#home_menu .img_r {
  overflow: hidden;
  display: block;
}
#home_menu .col12_img {
  margin-top: 30px;
  overflow: hidden;
  display: block;
}
#home_menu .img_mg12 {
  margin-top: 30px;
  overflow: hidden;
  display: block;
}

#speacial {
  background-color: #d6d0d0;
  padding: 100px 0px;
}
#speacial form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#speacial form span {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#speacial form input {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  width: 100%;
  outline: none;
  border: none;
  background-color: #eee;
}
#speacial form .inputDiv {
  max-width: 250px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  background-color: #eee;
  border: 1px solid #d8d6d4;
  border-radius: 10px;
}
#speacial form .submit {
  background: #111111;
  border-radius: 10px;
  width: 160px;
  padding: 10px 2px;
  color: white;
  transition: all 0.3s;
}
#speacial form .submit:hover {
  background-color: #d61c22;
}

/* Slider responsive */
@media only screen and (max-width: 768px) {
  #slider span {
    font-size: 60px;
  }
  #slider h2 {
    font-size: 70px;
  }
  #speacial form {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  #slider span {
    font-size: 50px;
  }
  #slider h2 {
    font-size: 60px;
  }
}
#PatoMenu {
  background-image: url("/assets/media/img/bg-title-page-01.jpg");
  width: 100%;
  min-height: 540px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#PatoMenu h1 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
}

#MenuList .left {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
}
#MenuList .left .MenuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px !important;
}
#MenuList .left .MenuList .MenuBox span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
}
#MenuList .left .MenuList .MenuBox .price {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}
#MenuList .left .MenuList .MenuBox .price div {
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#MenuList .left .MenuList .MenuBox .price a {
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#MenuList .right {
  max-width: 550px;
  width: 100%;
}
#MenuList .right .MenuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px !important;
}
#MenuList .right .MenuList .MenuBox span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
}
#MenuList .right .MenuList .MenuBox .price {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}
#MenuList .right .MenuList .MenuBox .price div {
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#MenuList .right .MenuList .MenuBox .price a {
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#MenuList .right .MenuList .MenuBox .price .imgPrice {
  background-image: url("");
}

#Lunch .Lunch_image {
  background-image: url("/assets/media/img/header-menu-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 158px;
  padding-top: 135px;
}
#Lunch .Lunch_image h3 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}

#Menu .MenuList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 570px;
  padding: 80px 0;
}
#Menu .MenuList .MenuBox {
  display: flex;
  align-items: center;
  gap: 30px;
}
#Menu .MenuList .MenuBox img {
  border-radius: 5px;
  width: 160px;
  height: 120px;
}
#Menu .MenuList .MenuBox .text h1 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#Menu .MenuList .MenuBox .text p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 1.7;
}
#Menu .MenuList .MenuBox .text span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
}

#Dinner .Dinner_image {
  background-image: url("/assets/media/img/header-menu-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 158px;
  padding-top: 135px;
}
#Dinner .Dinner_image h3 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}

#Reservation {
  background-image: url("/assets/media/img/photo-gallery-03.jpg");
  width: 100%;
  min-height: 540px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
#Reservation h1 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
  background-color: rgb(224, 220, 220);
}

#Form {
  background-color: #EFEFEF;
}
#Form .text_Form {
  font-family: "Courgette";
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
#Form h3 {
  font-family: "Poppins_regular";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 6px;
}

footer {
  background-color: #222222;
  color: #999999;
}
footer a {
  color: #d61c22;
}
footer a img {
  width: 100%;
}
footer .item-gallery-footer {
  display: block;
  position: relative;
  width: calc((100% - 50px) / 4);
  margin-right: 10px;
  margin-bottom: 10px;
}
footer h4 {
  color: white;
}
footer .footer_end {
  background-color: black;
}
footer .footer_end a {
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */