

#Reservation {
    background-image: url("/assets/media/img/photo-gallery-03.jpg");
    width: 100%;
    min-height: 540px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  
    h1 {
      font-family: "Poppins_regular";
      font-weight: 700;
      font-size: 45px;
      line-height: 1.2;
      color: white;
      text-transform: uppercase;
      letter-spacing: 6px;
      word-spacing: 6px;
      background-color: rgb(224, 220, 220);
    }
  }


  #Form{

    background-color: #EFEFEF;
    .text_Form{
        font-family: "Courgette";
        font-size: 30px;
        line-height: 1.2;
        color: #d61c22;
      }
    
      h3 {
        font-family: "Poppins_regular";
        font-weight: 700;
        font-size: 50px;
        line-height: 1.2;
        color: #222222;
        text-transform: uppercase;
        letter-spacing: 6px;
      }

}

#info{

    

}